{% macro t(key) %}{{ {
  "language": "en",
  "edit.link.title": "ویرایش این صفحه",
  "footer.previous": "قبلی",
  "footer.next": "بعدی",
  "meta.comments": "نظرات",
  "meta.source": "منبع",
  "search.languages": "",
  "search.placeholder": "جست و جو",
  "search.result.placeholder": "برای جست و جو بنویسید",
  "search.result.none": "هیچ سندی یافت نشد",
  "search.result.one": "یک نتیجه یافت شد",
  "search.result.other": "# نتیجه یافت شد",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "برو به مخزن",
  "toc.title": "فهرست"
}[key] }}{% endmacro %}
